name: test
on: push
jobs:
  test:
    runs-on: ryuichiueda/ubuntu-22.04-ros2:latest
    container: /ubuntu22.04
    steps:
      - uses: actions/checkout@v2
      - name: build and test
        run: |
          rsync -av ./ /root/ros2_ws/src/mypkg/
          cd /root/ros2_ws
          bash -xv ./src/mypkg/test/test.bash /root
